*{
	font-family: Arial;
}
body{
	background-color: #213;
}
body>div{
    display:flex;
	flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.view1{
    align-items: center;
    justify-content: center;
}
.view2{
    display:none;
}
.main{
	display: flex;
	align-items: center;
	justify-content: center;
}
.map_wrapper{
	position: relative;
}
.message{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 30px;
	left: 30px;
	right: 30px;
	background-color: rgba(255,255,255,0.7);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.4);
	opacity: 0;
	transition: opacity 300ms;
}
.message.shown{
	opacity: 1;
}
.message.error{
	background-color: rgba(255,100,100,0.7);
}
.message.fadeout_transition{
	transition: opacity 4000ms;
}


.map{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #555;
}
.map > div{
	margin: 0 1px 1px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	/* border-top: 1px dotted #777;
	border-left: 1px dotted #777; */
}


.inventory{
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}


.inventory > div, .wearing > div{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
}

.inventory > div:active{
	cursor: pointer;
}

.inventory > div > div{
	display: none;
}

.inventory > div.multi > div{
	content: '3';
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color: #555;
	border-radius: 2px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inv_context{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 250px;
	min-height: 200px;
	height: auto;
	padding: 10px;
	border: 1px solid #777;
	border-radius: 4px;
	background-color: #eee;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 300ms;
}

.inv_context.shown{
	opacity: 1;
}


.inv_context > div{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.inv_context .menu{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

	margin-top: 20px;
	padding: 10px 0;
	border-top: 1px solid #777;
}

.inv_context .menu > *{
	margin: 4px 0;
}

.inv_context .menu > a{
	cursor: pointer;
	display: inline-block;
	padding: 10px 0;
	--border-bottom: 1px solid #aaa;
	text-align: center;
	
	--background-color: transparent;
	border-radius: 10px;
	transition: box-shadow 200ms, background-color 200ms;
}


.inv_context .menu > a:hover {
	box-shadow: 0 0 30px #74d;
	background-color: #cbf;
}




.inv_context .menu button{
	border: 1px solid #aaa;
	border-radius: 4px;
	background-color: #eee;
	padding: 10px 20px;
	cursor: pointer;
}

.inv_context .info{
	padding: 20px 0
}
.inv_context .info .desc{
	font-family: "Times New Roman";
	font-style: italic;
}

.bottom{
	display: flex;
	justify-content: center;
}

.wearing{
	display: flex;
}
