body>div{
    display:flex;
	flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.view1{
    align-items: center;
    justify-content: center;
}
.view2{
    display:none;
}
.map_wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}
.map{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #555;
}
.map > div{
	margin: 0 1px 1px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	/* border-top: 1px dotted #777;
	border-left: 1px dotted #777; */
}

.object::before{
	content: '';
}
/* .me::before{
	content: '웃';
}
.enemy::before{
	content: '웃';
	color: #e00;
} */
.water::before{
	content: '🍺';
}
.apple::before{
	content: '🍎';
}
.axe::before{
	content: '🪓';
}

.sword::before{
	content: '🗡';
}

.shit::before{
	content: '💩';
}

.knife::before{
	content: '🔪';
}

.shield::before{
	content: '🛡';
}

.hammer::before{
	content: '🔨';
}


.inventory{
	display: flex;
	flex-wrap: wrap;
	--height: 400px;
	--border: 1px solid #777;
	margin: 10px;
}


.inventory > div, .wearing > div{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: pointer;
}

.inventory > div:active{
	cursor: pointer;
}

.inventory > div > div{
	display: none;
}

.inventory > div.multi > div{
	content: '3';
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color: #555;
	border-radius: 2px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inv_context{
	display: none;
	position: absolute;
	width: 250px;
	height: 300px;
	border: 1px solid #777;
	border-radius: 4px;
	background-color: #fff;
	top: 0;
	left: 0;
}

.bottom{
	display: flex;
	justify-content: center;
}

.wearing{
	display: flex;
}
